@font-face {
    font-family: 'Poppins-Regular';
    src: url(../font/Poppins-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(../font/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(../font/Poppins-Bold.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins-Regular', sans-serif;
    color: #fff;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)) , url('../img/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section.navigation {
    width: 100%;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: auto;
}

.container .box-navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container .box-navigation .box:nth-child(1) h1 {
    font-size: 29px;
}

.container .box-navigation .box:nth-child(2) ul {
    display: flex;
    flex-direction: row;
}

.container .box-navigation .box:nth-child(2) ul li {
    list-style: none;
    margin-left: 40px;
}

.container .box-navigation .box:nth-child(2) ul li a {
    text-decoration: none;
    transition: .3s;
}

.container .box-navigation .box:nth-child(2) ul li a:hover {
    color: greenyellow;
}

.container .box-navigation .box:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;
    cursor: pointer;
}

.container .box-navigation .box:nth-child(3) .hamburger {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 5px;
}

.container .box-navigation .box:nth-child(3) .hamburger:nth-child(2) {
    width: 15px;
}

/* hero */

header .hero {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}

header .hero h1 {
    font-size: 55px;
    text-align: center;
    color: rgba(255, 255, 255, 0.315);
}

/* hero */

/* about */

section.about {
    width: 100%;
    height: 100vh;
    background-color: rgb(194, 175, 175);
    display: flex;
    align-items: center;
}

.container .box-about {
    display: flex;
    align-items: center;
}

.container .box-about .box:nth-child(1) {
    margin-right: 20px;
}

.container .box-about .box:nth-child(1) h1 {
    font-size: 38px;
}

.container .box-about .box:nth-child(1) p {
    text-align: justify;
    line-height: 2;
    text-indent: 25px;
} 

.container .box-about .box:nth-child(2) img {
    border-radius: 10px;
    width: 600px;
}

/* about */

/* famous */

.famous {
    width: 100%;
    height: 100vh;
    background-color: rgba(58, 55, 55, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.famous .container .box-famous {
    display: flex;
    justify-content: center;
    align-items: center;
}

.famous .container .box-famous .box {
    text-align: center;
    margin: 10px 20px;
}


.container .box-famous .box img {
    width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container .box-famous .box h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.container .box-famous .box p{
    font-size: 16px;
}
/* famous */

/* gallery */


.gallery {
    width: 100%;
    height: 100%;
    background-color: rgb(194, 175, 175);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container .box-gallery img {
    width: 290px;
    margin: 20px;
    transition: all .3s ease;
    border-radius: 10px;
    opacity: .85;

}

.container .box-gallery img:hover {
    width: 295px;
    opacity: 1;
    cursor: pointer;
}

/* gallery */

/* contact */

.contact {
    width: 100%;
    height: 100vh;
    background-color: rgba(58, 55, 55, .8);
    display: flex;
    align-items: center;
}

.container .box-contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container .box-contact h1 {
    font-size: 32px;
}

.container .box-contact td {
   padding: 10px 5px;
   
}

.container .box-contact input {
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.container .box-contact textarea {
    border-radius: 5px;
    padding: 10px;
    color: #000;
}

.container .box-contact form button {
    position: absolute;
    right: 5.8%;
    color: #000;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

/* contact */

/* footer */

.footer {
    width: 100%;
    height: 50px;
    background-color: rgb(39, 38, 37);
    display: flex;
    align-items: center;
}

.footer .container .box-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer */

@media screen and (max-width: 992px) {
    .container .box-navigation .box:nth-child(2) {
        display: flex;
        position: absolute;
        right: 5.7%;
        top: 9%;
        width: 200px;
        background-color: #fff;
        border-radius: 6px;
        padding: 9px;
        font-size: 14px;
        opacity: 0;
        transition: all .3s ease;
    }

    .container .box-navigation .menu-navigation.menu-active {
        opacity: 1;
        position: absolute;
        top: 12%;
    }

    .container .box-navigation .box:nth-child(2) ul {
        flex-direction: column;   
    }

   
    .container .box-navigation .box:nth-child(2) ul li {
        margin: 5px 0;
    }

    .container .box-navigation .box:nth-child(2) ul li a {
        color: #000;
    }

    .container .box-navigation .box:nth-child(3) {
        display: inline-block;
    }

    header .hero h1 {
        font-size: 42px;
    }

    .container .box-about {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }

    .container .box-about .box:nth-child(1) {
        margin-right: 0;
    }

    .container .box-about .box:nth-child(1) h1 {
        font-size: 30px;
    }

    .container .box-about .box:nth-child(1) p {
        font-size: 13px;
    }

    .container .box-about .box:nth-child(2) img {
        width: 500px;
    }

    .container .box-famous .box img {
        width:  200px;
    }

    .container .box-famous .box h1 {
        font-size: 20px;
    }

    .container .box-famous .box p {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px){
    .container .box-navigation .box:nth-child(2) {
        width: 150px;
        font-size: 12px;
    }

    .container .box-navigation .box:nth-child(1) h1 {
        font-size: 27px;
    }

    header .hero h1 {
        font-size: 38px;
    }

    .container .box-about .box:nth-child(1) h1 {
        font-size: 28px;
    }

    .container .box-about .box:nth-child(1) p {
        font-size: 12px;
    }

    .container .box-about .box:nth-child(2) img {
        width: 400px;
    }

    .famous {
        height: 100%;
    }

    .famous .container {
        margin: 10px;
    }

    .container .box-famous {
        flex-wrap: wrap;
    }

    .container .box-famous .box {
        margin-bottom: 20px;
    }

    .container .box-famous .box img {
        width:  250px;
    }

    .container .box-famous .box h1 {
        font-size: 18px;
    }

    .container .box-famous .box p {
        font-size: 12px;
    }

    .container .box-contact {
        display: flex;
        flex-direction: column;
    }

    .container .box-contact h1 {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .container .box-contact input {
        width: 200px;
        height: 50px;
    }

    .container .box-contact textarea {
        width: 250px;
        height: 150px;
    }

    .container .box-contact form button {
        right: 29%;
    }
}

@media screen and (max-width: 480px){
    .container .box-navigation .box:nth-child(2) {
        width: 138px;
        font-size: 11px;
    }

    .container .box-navigation .box:nth-child(1) h1 {
        font-size: 24px;
    }

    header .hero h1 {
        font-size: 32px;
    }

    .container .box-about .box:nth-child(1) h1 {
        font-size: 24px;
    }

    .container .box-about .box:nth-child(1) p {
        font-size: 10px;
    }

    .container .box-about .box:nth-child(2) img {
        width: 300px;
    }
    .container .box-contact form button {
        right: 11%;
    }
}

@media screen and (max-width: 351px) {
    header .hero h1 {
        font-size: 28px;
    }
    
    .container .box-about .box:nth-child(1) h1 {
        font-size: 19px;
    }

    .container .box-about .box:nth-child(1) p {
        font-size: 9px;
    }

    .container .box-about .box:nth-child(2) img {
        width: 229px;
    }
    .container .box-contact form button {
        right: 5%;
    }
} 